<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Market</title>
    <link rel="stylesheet" href="{%static 'font/css/all.min.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-primary text-light mb-3 " >
  <div class="container-fluid" >
    <a class="navbar-brand" href="#" style="color: white"><i class="fas fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
          {% for i in cats%}
          <a class="nav-link active "  aria-current="page" href="{{i.id}}" style="color: white" ><h6>{{i.category_name}}</h6></a>
          {% endfor %}


      </div>
        <div class="justify-content-end"><i class=""></i></div>
    </div>
  </div>
<!--    <i class="fas fa-inbox"><span class="badge bg-secondary p-1 m-1"><i class="fas fa-inbox">4</i></span></i>-->
    <i class="fas fa-inbox position-absolute p-0 m-0 " style="right: 140px; color: black"><span class="badge badge-secondary ">4</span></i>
</nav>
<p>
<div class="container bg-light">

    <div class="row  p-1 m-1 w-100 ">

        {%for i in products%}
         <div class="col-12 mb-3 ">
        <div class="card w-100 shadow p-2" style="width: 18rem; height: 600px; box-sizing: border-box">
  <img src="{{i.imageUrl}}" class="card-img-top " style="height: 400px" alt="{{i.product_name}}">
  <div class="card-body">
    <h4 class="card-title">{{i.product_name}}</h4>
    <h6>Narxi: {{i.price}} summ</h6>
  </div>
  <div class="card-footer w-100 p-0 m-3 ">
      <input class="input-group w-50" type="text" placeholder="Fikringizni qoldiring...."/>
      <button class="btn btn-hover btn-primary mt-2">Yuborish</button>
  </div>
        </div></div>
        {%endfor%}

    </div>
    </div>
</div>

<!--   <button class="but btn btn-primary">Click</button>-->
<!--   <div class="first">aa</div>-->
   <script type="text/javascript" src={% static "bootstrap/js/bootstrap.min.js" %}></script>
   <script type="text/javascript" src={% static "js/main.js" %}></script>
</body>
</html>